.score {
    font-size: 8rem;
    font-weight: bold;
    color: #E91E63;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    width: 10rem; /* Set width */
    height: 10rem; /* Set height to match width */
    display: flex; /* Center content */
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 5px rgba(194, 17, 17, 0.959);
}